@font-face {
    font-family: 'Dune Rise';
    src: url(src/font/Dune_Rise.ttf);
}

*{
    float: left;
    font-family: 'Poppins', sans-serif;
    color: #051D26;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
}
body{
    background-color: #F2C46D;
}

#container{
    align-self: center;
    width: 800px;
    height: 1080px;
    margin: 0.15rem 323px;
    background: linear-gradient(180deg, rgba(219, 139, 65, 0.8) 0%, rgba(253, 219, 154, 0.5) 31.77%, #F2C46D 68.75%);
}

header{
    width: 100%;
}
.logo{
        
    width: 40%;
    height: 118px;
    margin: 0 auto;
}
.logo > h1 {
    font: 400 2rem 'Dune Rise';
    padding: 2rem 1.5rem ;
}
nav{
    width: 60%;    
    padding: 1rem 1.5rem;
}
nav > span {
    margin: 1.5rem 0.25rem;
}

main{
    width: 100%;
    padding: 0.5rem 1.25rem;
}
main > div {
    width: 25%;
}
main > div > img {
    width: 100%;
    height: 277px;
}

.main-foot{
    margin-top: -4rem;
    width: 100%;
    height: 4rem;
    padding: 0.15rem 0.5rem;
    background: rgba(217, 134, 61, 0.75);
    
}
.main-foot > span {
    color: white;
    width: 6.5rem;
}

#tipo2 {
    width: 9rem;
}
section{
    width: 100%;
    height: 60%;
}
section > div {
    padding: 1rem 1.25rem
}
#topic-head {
    font: 600 1.25rem 'Dune Rise';
    width: 100%;
}
.subtitle{
    font-size: 1rem;
    color: #8C4F2B;
}
.description{
    font-size: 0.75rem;
    width: 100%;
}
#left-content{
    width: 60%;
    height: 100%;
    
}
#topic2 {
 margin: 1rem 0;
}
#topic2 h2 {
    margin: 0.5rem 0;
   }
.topic2-img{
    width: 50%;
    height: 148px;
}
.topic2-img > img{
    width: 33%;
    height: 100%;
    
}
.topic2-content{
    width: 50%;
    padding: 0.75rem;
}
#topic3{
    height: 30%;
}

#topic3 > div {
 width: 50%;
 padding: 0.25rem 0.5rem;
}
.topic-img{
  width: 35%;
  padding: 0.5rem 0.25rem;
   }
.topic-content{
    width: 65%;
    padding: 0 0.5rem;
}

#right-content{
    width: 40%;
    height: 100%;

}

.recent {
    height: 33%;
}

footer{
    height: 10%;
    width: 100%;
    background: linear-gradient(180deg, #F2C46D 0%, rgba(253, 219, 154, 0.5) 27.6%, rgba(219, 139, 65, 0.8) 76.56%);
    opacity: 0.5;
}

#footer {
    float: none;
    text-align: center;
    display: block;
    padding: 0.25rem 1rem;
}

.foot-text{
    color: #573313;
    padding: 1rem 1rem 0.25rem;
}
.trademark {
    color: #57331368;
}