*{
    color: darkgreen;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 25%;
    height: 25%;
    background-color: blueviolet
}
header > img {
    width: 100%;
    margin: 10px 0;
}
#whitespacing{
width: 25%;
}
nav {
    float: right;
    width: 50%;
    height: 25%;
    background-color: darkolivegreen
}
