*{
    font: medium Arial;
    color: darkorange;
}
section{
    width: 25%;
}
section > div {
    border: 1px solid black;
    border-right: 5px solid darkorange;
    padding: 2px 10px;
    margin: auto;
}
